$color: black;
$font:'Courier New', Times, serif;

%style{

  margin-top:2%;
  font-family: $font;


}

body{

  background-color: $color;
}


/* index.html */
#bg {
  position: fixed;

  width: 100%;
  height: 100%;
  z-index: -2;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}



  #img_fsakm {

    width: 15%;
    margin-top: 5%;
    margin-left: 5%;

  }


  #title{

    font-family: "Snell Roundhand", Times, serif;
    font-size: 40px;
    color:white;
    padding-top: 65px;
    z-index: -1;


  }

  #menu{
    padding: 14px 40px;
    text-align: right;
    padding-top:2%;

  }

  /* Change the color of links on hover */
  .menu a:hover  {
    color: white;
  }

  .menu {
    display: inline;
    margin-right: 20px;

  }

/**********************************************************/
  /* physical.html */

#header{

  background-color: $color;

}

/* Container holding the image and the text */
.container-fluid {
  text-align: left;
  background-color: $color;
}


#carousel-caption{

  color:black;

}

.img-responsive{
    max-width:100%;
    height:auto;
    margin-top:1%;

}

.physical_text{
  color:white;
}

.inner{

  @extend %style;

  color:$color;
  padding-top: 2%;
  padding-left:3%;

  background-color: white;

}
/**********************************************************/
  /* techinal.html */

  #img-punch{

    width:100%;

  }

  .technical_info{
    @extend %style;
    color:white;

  }

  /**********************************************************/
    /* my_journey.html */

  table{
    margin-top:2%;
    text-align: center;

  }

tbody {

  th {

    text-align: left;


  }



}
